server {    
    listen 80;
    server_name test-saas.peerbelt.link test-www.peerbelt.link;
    access_log /var/log/nginx/www-pb-access.log;
    error_log /var/log/nginx/www-pb-error.log;
    location / {
        proxy_pass http://localhost:44445;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
server {
    listen 80;
    server_name test-console.peerbelt.link;
    access_log /var/log/nginx/console-pb-access.log;
    error_log /var/log/nginx/console-pb-error.log;
    location / {
        proxy_pass http://localhost:44444;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
    location ^~ /api/v1 {
        proxy_pass http://localhost:33333/api;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
server {
    listen 80;
    server_name test-track.peerbelt.link;
    access_log /var/log/nginx/tracking-pb-access.log;
    error_log /var/log/nginx/tracking-pb-error.log;
    location / {
        proxy_pass http://localhost:22222;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
server {
    listen 80;
    server_name test-sense.peerbelt.link test-sense2.peerbelt.link test-sense.peerbelt.link.global.prod.fastly.net dcrbpaq2yfo7h.cloudfront.net; 
    access_log /var/log/nginx/consumer-pb-access.log;
    error_log /var/log/nginx/consumer-pb-error.log;
    location / {
        proxy_pass http://localhost:11111;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_hide_header Cache-Control;
        proxy_hide_header ETag;
        proxy_hide_header Set-Cookie;
        add_header 'Surrogate-Control' 'max-age=7200';
        add_header 'Cache-Control' 'public, max-age=3600';
   }
}
