body {
	color: #353535;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 16px;
}

/* Grid */

.outer {
	position: relative;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	content:"";
	display:table;
	clear:both;
}

/* Typography */

.orange {
	color: #f15200;
}

.black {
	color: #111;
}

.more {
	color: #808080;
	position: absolute;
	bottom: 20px; 
	left: 50%;
    transform: translate(-50%, 0);
    text-decoration: none;
    background: url(../img/carrot.png) no-repeat center right;
    padding-right: 15px;
}

.code {
	background: #f8f8f8;
	border: 1px dashed #eee;
	font-family: 'Droid Sans Mono', Courier;
	padding: 15px;
	color: #606060;
}

h1,h2,h3,h4,h5 {
	color: #252525;
}

article h4 {
	font-size: 26px;
	font-weight: 300;
	line-height: 1.3em;
	margin-top: 25px;
}

/* Navigation */

nav {
	z-index: 999;
}

@media (min-width: 768px) {

	.slicknav_menu {
		display:none;
	}

	nav {
		background: rgba(255,255,255,0.9);
		border-bottom: 1px solid #ddd;
		font-size: 14px;
		position: fixed;
		top: 0; left: 0;
		width: 100%;
	}

	nav #logo img {
		position: absolute;
		top: 5px;
		height: 75px; width: 75px;
	}

	nav a {
		color: #808080;
		text-decoration: none;
		transition: all 0.5s;
	}

	nav .orange {
		background: #f15200;
		border-radius: 4px;
		color: #fff;
		padding: 7.5px 12.5px;
	}

	nav .orange:hover {
		color: #fff;
		background: #ff6600;
	}

	nav a:hover {
		color: #f15200;
		text-decoration: none;
	}
	
	nav .outer {
		margin: 0 auto;
		padding: 20px 0;
		width: 900px;
	}

	nav ul li {
		float: left;
		margin-right: 20px;
	}

	article h3 {
		font-size: 24px;
	}

}

@media (max-width: 768px) {

	nav .outer {
		text-align: center;
		width: 100%;
	}

	#logo {
		padding-top: 25px;
		width: 100%;
	}

	#logo img {
		height: 100px;
		width: 100px;
	}

	#slicknav {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}

	article h3 {
		font-size: 18px;
	}

}

/* Header */

header {
	background: #fff;
	border-bottom: 1px solid #ddd;
	min-height: 100vh;
}

@media (max-width: 768px) {

	header {
		padding-top: 5%;
		text-align: center;
	}

	header .outer {
		margin: 0 auto;
		width: 90%;
	}

	header h1 {
		font-size: 48px;
		font-weight: 500;
		line-height: 1.1em;
		margin-bottom: 25px;
	}

}

@media (min-width: 768px) {

	header .outer {
		top: 50vh;
		transform: translateY(-50%);
		margin: 0 auto;
		width: 900px;
	}

	header .inner {
		width: 525px;
	}

	header .graphic {
		position: absolute;
		right: -50px; top: 20px;
	}

	header h1 {
	font-size: 72px;
	font-weight: 500;
	line-height: 1.1em;
}

}

header h1 .orange {
	color: #f15200;
}

header h2 {
	font-size: 26px;
	font-weight: 300;
	line-height: 1.3em;
	margin-top: 25px;
}

.button {
	background: #f15200;
	border: 1px solid #f15200;
	border-radius: 4px;
	color: #fff;
	font-weight: 500;
	padding: 15px 50px;
	transition: all 0.5s;
	text-decoration: none;
	display: inline-block;
	margin: 24px 0 0 0;
}

.button:hover {
	background: #ff6600;
	border: 1px solid #ff6600;
	cursor: pointer;
}

/* Article */

article {
	position: relative;
}

article h3 {
	font-weight: 500;
	line-height: 1.2em;
}

article p {
	line-height: 1.4em;
}

/* Full-height */

@media (min-width: 768px) {

	.full-height {
		border-bottom: 1px solid #ddd;
		height: 100vh;
	}

	.full-height .outer {
		top: 50vh;
		transform: translateY(-50%);
		margin: 0 auto;
		width: 900px;
	}

}

/* Homepage: 
	Article #1: 
		Benefits */

@media (min-width: 768px) {

	#benefits .item {
		float: left;
		display: inline;
		margin-right: 40px;
		width: 270px;
	}

	#benefits .item p {
		text-align: justify;
	}

	#benefits .item:nth-child(3) {
		margin-right: 0;
	}

	#benefits .placeholder {
		text-align: center;
		margin: 20px 0;
	}

	#benefits .placeholder img {
		max-width: 100%;
		max-height: 150px;
	}

}

@media (max-width: 768px) {

	.more {
		display: none;
	}

	img {
		height: auto;
		max-width: 100%;
	}

	article {
		margin: 0 auto;
		width: 90%;
	}

	#benefits h3 {
		font-size: 24px;
		margin: 20px 0;
	}

	#benefits .placeholder {
		text-align: center;
	}

	#benefits .placeholder img {
		max-height: 200px;
	}

}

/* Homepage: 
	Article #2: 
		Technology */

@media (min-width: 768px) {

	#technology .placeholder {
		margin: 0 auto;
		width: 900px;
	}

	#technology h3 {
		font-size: 42px;
	}

	#technology p {
		margin-top: 20px;
	}

}

/* Homepage:
	Article #3:
		Signup */

#signup form {
	margin-top: 20px;
}

#signup form .item {
	position: relative;
}

#signup form .half {
	float: left;
	margin-bottom: 20px;
	width: 50%;
}

#signup form p {
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 3px;
	margin-left: 3px;
}

#signup .half input {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px;
	width: 80%;
}

#signup .full textarea {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px;
	min-height: 80px;
	width: 90%;
}